// Body
$body-bg: #f8fafc;
$primary-color: #83b735;
$blue-color: #71bed7;
$gray-color: #444;
$text-color:#292b2c;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
